<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic NGRX
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <form (ngSubmit)='searchTodo(searchTerm)'>
      <ion-searchbar [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list #todoList>
    <ion-item-sliding *ngFor="let todo of todos$ | async | todoFilter: searchTerm">
      <ion-item [ngClass]="{'completed': todo.completed }">
        <ion-label>{{todo.text}}</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="sucess" (click)='toggleTodo(todo)'>
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)='removeTodo(todo)'>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="primary"  class="add-button" (click)="addTodo()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
